<!DOCTYPE html>
{%extends 'app/parent.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        {%block for_child%}
         <h1><u>List of students</u></h1>
         {%for i in student_list%}
         <h2><a href="/{{i.id}}">{{i.name}}'s Details</a></h2>
         {%endfor%}
        {%endblock%}
        </center>
        </body>
       </html>
</body>
</html>